.flight-tracker-button {
      color: white;
        
}

.tinted-icon_iKo {

        background-color: rgb(252, 252, 255);
        mask-size: contain;
        mask-position: 50% 50%;

}
    


.icon_be5 {

        --iconColor: rgb(250,250,250);
        width: 80%;
        height: 80%;
    

}